body {
  background-color: #0a0a23;
  color: white;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  font-size: 20px;
}
.freecodecamp-logo {
  margin-bottom: 20px;
  height: 150px;
  font-size: 2.5rem;
}
.title {
  padding: 10px 0;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.palindrome-div {
  width: min(100vw, 450px);
  min-height: 100px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0a0a23;
  box-shadow: 6px 6px #002ead;
  flex-wrap: wrap;
  padding: 20px;
  margin: 10px 0;
}
label {
  color: #0a0a23;
  margin-bottom: 20px;
  padding-top: 10px;
}
.palindrome-input {
  width: 250px;
  height: 30px;
  margin: 10px;
  text-align: center;
  border: none;
  border-bottom: 2px solid #5a01a7;
  font-size: 1.2rem;
}
.palindrome-btn {
  border: none;
  border-radius: 15px;
  padding: 10px;
  width: 90px;
  background-color: #5a01a7;
  color: white;
  cursor: pointer;
}
.result-div {
  overflow-y: auto;
  color: black;
  word-wrap: break-word;
  height: 50px;
}
.palindrome-defination-div {
  background-color: #00471b;
  color: white;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  width: min(100vw, 450px);
  min-height: 140px;
  padding: 20px;
  margin-top: 20px;
}
